{% extends "base.html" %}

{% block content %}
<h1 class="title">
  What room you will visit first?
</h1>
<img src="/static/corridor.png" alt="Corridor" width="1380" height="920"><br>
<br>
<h2 class="subtitle">
  Mysterious rooms:
</h2>
<ul class="list2a">
  <li><a href="/corridor/c4ca4238a0b923820dcc509a6f75849b">Room 1</a></li>
  <li><a href="/corridor/c81e728d9d4c2f636f067f89cc14862c">Room 2</a></li>
  <li><a href="/corridor/eccbc87e4b5ce2fe28308fd9f2a7baf3">Room 3</a></li>
  <li><a href="/corridor/a87ff679a2f3e71d9181a67b7542122c">Room 4</a></li>
  <li><a href="/corridor/e4da3b7fbbce2345d7772b0674a318d5">Room 5</a></li>
</ul>

{% endblock %}