{% extends "base.html" %}

{% block content %}
<!--I know that our developers love football. They should be told that a password in the top 10,000 is a very bad idea.-->
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/postbrute">
            <h5>
                {{ error_message }}
            </h5>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="username" name="username" placeholder="Your username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>

{% endblock %}